<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Multitools Web
        {% endblock %}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    {% block content %}
    {% endblock %}

    <footer class="text-center py-4 mt-5">
        <small class="text-muted">
            Multitools Web • Versão 1.0 &trade; 2026
        </small>
    </footer>

</body>

</html>
