{% extends "base.html" %}

{% block title %}
    Multitools Web
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-5">
            <h1 class="fw-bold">Multitools Web</h1>
            <p class="text-muted">
                Conversão de documentos de forma simples e rápida
            </p>
        </div>

        <div class="row g-4">

            <div class="col-md-6 col-lg-3">
                <a href="/rtf-docx" class="text-decoration-none">
                    <div class="card tool-card">
                        <div class="card-body text-center">
                            <h5>RTF → DOCX</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card tool-card">
                    <div class="card-body text-center">
                        <h5>RTF → DOC</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card tool-card">
                    <div class="card-body text-center">
                        <h5>PDF → DOCX</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card tool-card">
                    <div class="card-body text-center">
                        <h5>PDF OCR → DOCX</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <a href="/rtf-docx-lote" class="text-decoration-none">
                    <div class="card tool-card">
                        <div class="card-body text-center">
                            <h5>RTF → DOCX (Lote)</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>

</div>

{% endblock %}