{% extends "base.html" %}

{% block title %}
    RTF para DOCX
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card page-card">

        <div class="card-body p-4">

            <a href="/"
               class="btn btn-outline-secondary mb-4">
                Voltar
            </a>

            <h2>
                RTF → DOCX
            </h2>

            <p class="text-muted">
                Selecione um arquivo RTF para conversão.
            </p>

            <form
                method="POST"
                enctype="multipart/form-data">

                <div class="mb-3">
                    <label class="form-label">
                        Selecione um arquivo RTF
                    </label>

                    <input
                        type="file"
                        name="arquivo"
                        class="form-control"
                        accept=".rtf"
                        required>
                </div>

                <button
                    type="submit"
                    class="btn btn-primary">
                    Converter
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}
