{% extends "base.html" %}

{% block title %}
    RTF para DOCX
{% endblock %}

{% block content %}

<div class="container py-5">

    <a href="/" class="btn btn-secondary mb-4">
        Voltar
    </a>

    <h1 class="mb-4">RTF para DOCX</h1>

    <form
        method="POST"
        enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label">
                Selecione um arquivo RTF
            </label>

            <input
                type="file"
                name="arquivo"
                class="form-control"
                accept=".rtf"
                required>
        </div>

        <button
            type="submit"
            class="btn btn-primary">
            Converter
        </button>

    </form>

</div>

{% endblock %}